version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: docker/backend/Dockerfile
    env_file:
      - env.production
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ..
      dockerfile: docker/frontend/Dockerfile
    ports:
      - "8081:8081"
    depends_on:
      - backend
