services:
  backend:
    build:
      context: ..
      dockerfile: docker/backend/Dockerfile
    env_file:
      - env.production
    ports:
      - "8002:8000"
    volumes:
      - ../data:/app/data
    environment:
      - DATABASE_URL=sqlite:////app/data/vehicle_asset.db

  frontend:
    build:
      context: ..
      dockerfile: docker/frontend/Dockerfile
    ports:
      - "8081:80"
    depends_on:
      - backend
